/*
	========================================
	JESSICA ONE PAGE RESUME THEME
	========================================
	
	@author			: @_TemplateNinja
	@version		: v1.3
	@date-create	: 09/04/2014
	@last-update	: 03/18/2015
	@file-name		: skin.css

*/
/*
	========================================
	TABLE OF CONTENT
	========================================
	
	[1. GLOBAL STYLE]
	[2. BUTTON]
	[3. TYPHOGRAPHY]
	[4. PAGINATION]
	[5. NAVBAR]
	[6. SERVICE]
	[7. ABOUT]
	[8. WORK]
	[9. BLOG]
	[10. FOOTER]

*/

/*
	==================
	[1. GLOBAL STYLE]
	==================
*/
::-moz-selection {
  background-color: #e9573f;
}
::-webkit-selection {
  background-color: #e9573f;
}
::selection {
  background-color: #e9573f;
}
a {
  color: #e9573f;
}

/*
	==================
	[2. BUTTON]
	==================
*/
.btn-jessica {
  background-color: #e9573f;
  border-color: #e9573f;
}

/*
	==================
	[3. TYPHOGRAPHY]
	==================
*/
.text-color {
  color: #e9573f;
}
.page-title h2::after {
  content: '';
  background-color: #e9573f;
}

/*
	==================
	[4. PAGINATION]
	==================
*/
.pagination > li > a,
.pagination > li > span {
  color: #e9573f;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #e9573f;
  border-color: #e9573f;
}

/*
	==================
	[5. NAVBAR]
	==================
*/
.navbar-default .navbar-brand {
  background-color: #e9573f;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: #e9573f;
}
@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    position: relative;
    color: #e9573f;
  }
}
.navbar-default .navbar-nav > li > a:hover::after,
.navbar-default .navbar-nav > li > a:focus::after {
  content: '';
  background-color: #e9573f;
}
@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover {
    position: relative;
    color: #e9573f;
  }
}
.navbar-default .navbar-nav > .active > a::after,
.navbar-default .navbar-nav > .active > a:hover::after {
  content: '';
  background-color: #e9573f;
}
.navbar-default.navbar-scroll .navbar-nav > li > a:hover,
.navbar-default.navbar-scroll .navbar-nav > li > a:focus {
  color: #e9573f;
}
.navbar-default.navbar-scroll .navbar-nav > .active a,
.navbar-default.navbar-scroll .navbar-nav > .active a:hover {
  color: #e9573f;
}
/* dropdown menu */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #e9573f;
}
.dropdown-menu > .active > a::after,
.dropdown-menu > .active > a:hover .dropdown-menu > .active > a::after,
.dropdown-menu > .active > a:focus .dropdown-menu > .active > a::after {
  content: '';
  background-color: #e9573f;
}

/*
	==================
	[6. SERVICE]
	==================
*/
.service-content .service-icon {
  background-color: #e9573f;
}

/*
	==================
	[7. ABOUT]
	==================
*/
.chartbox .percent {
  color: #e9573f;
}
.edubox:hover {
  border-color: #e9573f;
}
.edubox:hover > h4 {
  color: #e9573f;
}

/*
	==================
	[8. WORK]
	==================
*/
/* modal */
.modal-work .modal-content .page-title h2::after {
  content: '';
  background-color: #e9573f;
}
.modal-work .modal-close:hover::before,
.modal-work .modal-close:focus::before,
.modal-work .modal-close:hover::after,
.modal-work .modal-close:focus::after {
  content: '';
  background-color: #e9573f;
}

/*
	==================
	[9. BLOG]
	==================
*/
.blog-container .blog-content h3:hover .blog-container .blog-content h3::before {
  content: '';
  background-color: #e9573f;
}

/*
	==================
	[10. FOOTER]
	==================
*/
.footer .footer-box .footer-icon {
  background-color: #e9573f;
}
